.flex {
  display: flex;
}
.left-div {
  background-repeat: no-repeat;
  width: 50%;
  background-image: url(../../img/background.png);
  height: 100vh;
  text-align: center;
}
.right-div {
  background-color: #233142;
  color: white;
  width: 50%;
  text-align: center;
  justify-content: center;
}
.title {
  border: solid white 3px;
  width: 500px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 80px;
  font-size: 150%;
}
.create {
  margin: 0 0 50px 15%;
  width: 350px;
  font-size: 250%;
  font-weight: bold;
}
input {
  border: solid white 3px;
  width: 400px;
  margin: auto;
  background-color: #233142;
  color: white;
  height: 50px;
  margin-bottom: 30px;
  padding: 25px;
  font-size: 160%;
}
::placeholder {
  color: rgb(197, 197, 197);
}

.horizontal {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.forgot-password {
  font-size: 120%;
}
.login {
  width: 400px;
  margin: auto;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  background-color: #f95959;
  font-size: 160%;
  color: white;
  cursor: pointer;
}
.signup {
  margin-top: 80px;
  color: white;
  cursor: pointer;
}
